@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  
  .font-anton {
    font-family: 'Anton', sans-serif;
  }
  
  .font-Bebas {
    font-family: "Bebas Neue", sans-serif;
  }

@import "tailwindcss";

*{
  scroll-behavior: smooth;
}